@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');


.menu {
    font-family: 'Fraunces', serif;
    font-size: 1.3em;
}

ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid darkgrey;
}

.menu ul li {
    list-style-type: none;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    margin: 0;
    cursor: pointer;
}

.menu ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-bg-color);
}

.menu ul li:hover::after {
    width: 100%;
    transition: 0.2s;
}

.enable {
    display: none;
}

.able {
    margin: 2%;
    width: 95%;
    padding-bottom: 5%;
}

.active {
    border-bottom: 3px solid;
}
